@media all and (max-width:500px) { 
    .body {
        position: absolute;
        width: 0px;
        height: 0px;
    }
    .body_adaptive {
        position: absolute;
    width: 530px;
        height: 905px;
        left: -7px;
    }
    .start_game {
        position: absolute;
        color:white;
        left: 450px;
        top: 35px;
        font-size: 25px;
        font-size: 0px;
        font-family: Anton;
    }
    .start_game:hover {
        color: gray;
    }
    .privace_room {
        position: absolute;
        left: 650px;
        top: 35px;
        font-size: 25px;
        font-family: Anton;
        font-size: 0px;
        color: white;
    }
    .privace_room:hover {
        color: gray;
    }
    .donate {
        position: absolute;
        left: 900px;
        top: 35px;
        font-size: 25px;
        font-family: Anton;
        font-size: 0px;
        color: white;
    }
    .donate:hover {
        color: gray;
    }
    .forum {
        position: absolute;
        left: 1050px;
        top: 35px;
        font-size: 25px;
        font-family: Anton;
        font-size: 0px;
        color: white;
    }
    .forum:hover {
        color: gray;
    }
    .nw2023 {
        position: absolute;
        left: 1px;
        width: 0px;
        top: -13px;
    }
    .Blame_bonus{
        position: absolute;
        top: 180px;
        left: 200px;
        color: white;
        font-size: 40px;
        font-family: Anton;
        width: 100px;
      
    }
    .text_blame {
        position: absolute;
        top: 320px;
        color: white;
        left: 30px;
        font-family: Bebas Neue;
    }
    .rub {
        position: absolute;
        top: 540px;
        width: 150px;
        left: 20px;
        box-shadow: 0 27px 64px -16px rgba(0, 208, 255, 0.64);
    }
    .rub1 {
        position: absolute;
        top: 540px;
        width: 150px;
        left: 180px;
        box-shadow: 0 27px 64px -16px rgba(0, 208, 255, 0.64);
    }
    .rub2 {
        position: absolute;
        top: 540px;
        width: 150px;
        left: 340px;
        box-shadow: 0 27px 64px -16px rgba(0, 208, 255, 0.64);
    }
    .rub_eks {
        position: absolute;
        top: 460px;
        width: 300px;
        left: 170px;
        box-shadow: 0 27px 64px -16px rgba(0, 208, 255, 0.64);
        color: white;
    }
    .future {
        position: absolute;
        width: 150px;
        left: 180px;
        top: 640px;
    }
    .GT-R {
        position: absolute;
        width: 0px;
        top: 630px;
        left:600px;
    
    }
   
    /* Dropdown Button */
.dropbtn {
    position: absolute;
    background-color: #3498DB;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    left: 440px;
    top: 13px;
    width: 60px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 17, 255);
    z-index: 1;
    left: 330px;
    top: 50px;
    border-radius: 25px;
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
}